body {
    padding: 0%;
    margin: 0%;
}

input {
    border: 0px;
    background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}

.timestamp {
    color: grey;
    margin: 0;
    margin-top: 1.5vw;
    padding: 0;
    font-size: 85%;
    width: 30vw;
}

.currency-name,
.o-currency-name {
    cursor: pointer;
}

@media screen and (min-width: 525px) {
    .convertor {
        display: grid;
        grid-template-columns: 26vw 5vw 26vw;
        grid-template-rows: 20vh;
        padding: 2%;
        margin: 2%;
        justify-content: center;
        align-items: center;
        font-family: 'Noto Sans', sans-serif;

    }

    .amount,
    .recalculation {
        font-size: 2.5vw;
        font-family: 'Noto Sans Malayalam';
        font-weight: bold;
        margin: 1vh;
    }

    .switcher {
        cursor: pointer;

        padding-left: 4%;
        padding-right: 4%;
        margin: 10% 7%;
    }

}

@media screen and (max-width: 525px) {
    .convertor {
        display: grid;
        grid-template-columns: 75vw;
        grid-template-rows: 25vh 7vh 25vh;
        padding: 2%;
        margin: 2%;
        justify-content: center;
        align-items: center;
        font-family: 'Noto Sans', sans-serif;

    }

    .switcher {
        cursor: pointer;
        width: 25%;
        vertical-align: middle;
        display: flex;
        align-self: center;
        justify-self: center;
    }

    .amount,
    .recalculation {
        font-size: 3vh;
        font-family: 'Noto Sans Malayalam';
        font-weight: bold;
        margin: 1vh;
    }

    .timestamp {
        color: grey;
        margin: 0;
        margin-top: 1.5vw;
        padding: 0;
        font-size: 85%;
        width: 90%;
    }

}

.switcher:hover {
    stroke: #cdcdcd;
    fill: #cdcdcd;

}

.country-currency {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.country-currency * {
    text-align: center;
    border: #cdcdcd 1px solid;
    padding: 1vh;
}

.active {
    color: white;
    background-color: #228D57;
}

.count {
    border: #cdcdcd 1px solid;

}

.currency-to-one {
    color: gray;
    margin: 1vh;

}

.currency-like {
    user-select: none;
    color: gray;
}
